.overlay {
    background-color: white;
    padding: 8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 70rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.overlay .form {
    /* width: 40rem; */
    display: grid;
    grid-row-gap: 2rem;
    /* background-color: blueviolet; */
}

.overlay .form .text h2 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.9rem;
    color: #444444;
}

.overlay .form .text p {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #999999;
}

.overlay .form .address-section {
    display: flex;
    gap: 1rem;
}

.overlay .form .address-section .address {
    display: flex;
    flex-direction: column;
}

.overlay .form label {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #444444;
}

.overlay .form .address-section input {
    width: 26rem;
    padding: 1rem;
    border-radius: 10px;
    background: #F2F2F2;
    font-weight: 500;
    font-size: .68rem;
    line-height: 1rem;
    color: #AAAAAA;
    border: none;
    overflow: hidden;
    margin: .5rem 0;
}

.overlay .form .other-info {
    display: flex;
    gap: 1rem;
}

.overlay .form .other-info .info {
    display: flex;
    flex-direction: column;
}

.overlay .form .other-info .info input {
    padding: 1rem;
    border-radius: 10px;
    background: #F2F2F2;
    font-weight: 500;
    font-size: .68rem;
    line-height: 1rem;
    color: #AAAAAA;
    border: none;
    overflow: hidden;
    margin: .5rem 0;
}

.overlay .form .actions {
    display: flex;
    flex-direction: column;
}

.overlay .form .actions .btn {
    font-size: .8rem;
    line-height: 1.2rem;
    /* padding-left: 5rem; */
    width: 20rem;
    background-color: #3A0DBB;
    border: none;
    filter: drop-shadow(0px, 4.07px, 20.35px rgba(0, 0, 0, 0.25));
}

.overlay .form .actions .link {
    background: none;
    border: none;
    width: 20rem;
    color: #444444;
}