.bg {
    width: 100%;
    height: 100vh;
    background: var(--gradient4);
    overflow: hidden;
}

.bg .white {
    transform: translateY(-450px);
}

.bg .logo {
    margin-left: 7rem;
    transform: translateY(130px);
    width: 20rem;
    height: 20rem;
    /* background-color: black; */
}

.bg .logo img {
    Opacity: 70%;
    width: 100%;
    height: 100%
}